<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vibez-monitor.daily-update</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-lc</string>
        <string>cd __VIBEZ_ROOT__ &amp;&amp; ./scripts/daily_update_to_railway.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__VIBEZ_ROOT__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>TZ</key>
        <string>America/New_York</string>
        <key>VIBEZ_ENV_FILE</key>
        <string>__VIBEZ_ENV_FILE__</string>
        <key>PYTHON_BIN</key>
        <string>__PYTHON_BIN__</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>4</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/daily-update-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/daily-update-stderr.log</string>
</dict>
</plist>
