<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vibez-monitor.healthcheck</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-lc</string>
        <string>cd __VIBEZ_ROOT__ &amp;&amp; ./scripts/vibez_healthcheck.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__VIBEZ_ROOT__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>TZ</key>
        <string>America/New_York</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StartInterval</key>
    <integer>1800</integer>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/healthcheck-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/healthcheck-stderr.log</string>
</dict>
</plist>
